
@font-face {
  font-display: swap;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  src:  url("../../assets/fonts/RobotoCondensed-Regular.eot");
  src:  url("../../assets/fonts/RobotoCondensed-Regular.eot?#iefix") format("embedded-opentype"),
        url("../../assets/fonts/RobotoCondensed-400.woff2") format("woff2"),
        url("../../assets/fonts/RobotoCondensed-400.woff") format("woff"),
        url("../../assets/fonts/RobotoCondensed-400.ttf") format("truetype"),
        url("../../assets/fonts/RobotoCondensed-400.svg#RobotoCondensed") format("svg");
}


@font-face {
  font-display: swap;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 500;
  src:  url("../../assets/fonts/RobotoCondensed-Regular.eot");
  src:  url("../../assets/fonts/RobotoCondensed-Regular.eot?#iefix") format("embedded-opentype"),
        url("../../assets/fonts/RobotoCondensed-500.woff2") format("woff2"),
        url("../../assets/fonts/RobotoCondensed-500.woff") format("woff"),
        url("../../assets/fonts/RobotoCondensed-500.ttf") format("truetype"),
        url("../../assets/fonts/RobotoCondensed-500.svg#RobotoCondensed") format("svg");
}


@font-face {
  font-display: swap;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 600;
  src:  url("../../assets/fonts/RobotoCondensed-Regular.eot");
  src:  url("../../assets/fonts/RobotoCondensed-Regular.eot?#iefix") format("embedded-opentype"),
        url("../../assets/fonts/RobotoCondensed-600.woff2") format("woff2"),
        url("../../assets/fonts/RobotoCondensed-600.woff") format("woff"),
        url("../../assets/fonts/RobotoCondensed-600.ttf") format("truetype"),
        url("../../assets/fonts/RobotoCondensed-600.svg#RobotoCondensed") format("svg");
}


@font-face {
  font-display: swap;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  src:  url("../../assets/fonts/RobotoCondensed-Regular.eot");
  src:  url("../../assets/fonts/RobotoCondensed-Regular.eot?#iefix") format("embedded-opentype"),
        url("../../assets/fonts/RobotoCondensed-700.woff2") format("woff2"),
        url("../../assets/fonts/RobotoCondensed-700.woff") format("woff"),
        url("../../assets/fonts/RobotoCondensed-700.ttf") format("truetype"),
        url("../../assets/fonts/RobotoCondensed-700.svg#RobotoCondensed") format("svg");
}


:root {
  color-scheme: light dark;  
  color: #eee;
  background-color: #2a2a2a;
  font-family: "Roboto Condensed";
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: block;
  width: 100vw;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}